.FoFAntiSpamSettings {
  padding-top: 20px;

  .Button {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .FoFAntiSpamTabPage {
    background: @control-bg; // Use control background for coherence
    padding: 20px;
    border-radius: @border-radius; // Consistent border radius
    box-shadow: 0 2px 4px @shadow-color; // Subtle shadow for depth

    h3 {
      color: @primary-color; // Primary color for headings
      margin-bottom: 10px;
    }

    .Section {
      background: @body-bg; // Contrast with the section background
      border-radius: @border-radius;
      box-shadow: 0 1px 3px @shadow-color;
      padding: 15px;
      margin-bottom: 20px;
    }

    .Form {
      .control {
        background: @body-bg;
        border: 1px solid @muted-color; // Defines the input fields
        color: @text-color;
        padding: 6px 12px;
        border-radius: @border-radius;
      }
    }
  }

  &--settings {
    //max-width: 720px;
    margin: 0 auto; // Center align for better presentation

    @media @desktop-up {
      margin: 0;
    }
  }

  &--blockedRegistrations {
    .BlockedRegistrations--list {
      .BlockedRegistrations--item {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 10px;
        align-items: center;
        background: @body-bg;
        border-radius: @border-radius;
        box-shadow: 0 1px 3px @shadow-color;
        margin-bottom: 10px;
        padding: 10px;
        transition: box-shadow 0.3s;

        &:hover {
          box-shadow: 0 2px 5px @shadow-color;
        }

        .BlockedRegistrations-item--details {
          display: contents;

          .BlockedRegistrations-label {
            grid-column: 1;
            font-weight: bold;
            white-space: nowrap;
          }

          .BlockedRegistrations-value {
            grid-column: 2;
            overflow-wrap: break-word;
            overflow: auto;
          }
        }

        .BlockedRegistrations-item--actions {
          grid-column: 3;
          grid-row: -1;
          justify-self: end;
          display: flex;
          gap: 10px;
        }
      }
    }
  }

  .ChallengeQuestions--item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: @body-bg;
    border-radius: @border-radius;
    box-shadow: 0 1px 3px @shadow-color;
    padding: 15px;
    margin-bottom: 20px;
  
    .ChallengeQuestions-item--details {
      flex-grow: 1;
      padding-right: 10px; // Add some space between details and actions
    }
  
    .ChallengeQuestions-item--actions {
      flex-shrink: 0; // Prevent actions from shrinking
    }
  
    @media @phone {
      flex-direction: column;
      align-items: flex-start;
  
      .ChallengeQuestions-item--actions {
        order: -1; // Move actions to the top on mobile
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 10px;
      }
    }
  }
  
}
