includes:
  - vendor/flarum/phpstan/extension.neon

parameters:
  level: 6
  paths:
    - vendor/flarum/suspend/extend.php
    - vendor/flarum/flags/extend.php
    - extend.php
    - src
  excludePaths:
    - *.blade.php
  databaseMigrationsPath: ['migrations']

